workflows/5ljCL69yDmvTypNJ.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "middle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "middle": {
      "main": [
        [
          {
            "node": "name & age",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-17T07:39:09.871Z",
  "id": "5ljCL69yDmvTypNJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        -80
      ],
      "id": "7394af6f-632a-4a88-b4ac-6970d3ade2dd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qH7pysV9ohThkzaKsVpCtXmRC0DxqgYPQFexw3yGzNI",
          "mode": "list",
          "cachedResultName": "n8n test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qH7pysV9ohThkzaKsVpCtXmRC0DxqgYPQFexw3yGzNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qH7pysV9ohThkzaKsVpCtXmRC0DxqgYPQFexw3yGzNI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        -80
      ],
      "id": "80cc5086-f9dc-4d0c-9369-52a934a686c9",
      "name": "Google Sheets",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1FG5MIE59weeKojD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b94a7603-2bb1-480d-9add-6821d3cda361",
              "name": "姓名",
              "value": "={{ $('Google Sheets').item.json[\"姓名\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        -80
      ],
      "id": "8f7e5ceb-d000-40b3-9a28-e4227b273e2a",
      "name": "name & age",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5df914b7-075c-4215-8f8f-05d9861eafd6",
              "name": "姓名",
              "value": "={{ $json[\"年龄\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -80
      ],
      "id": "399ea11e-3c8e-4c25-9312-f046a9d27bdf",
      "name": "middle"
    },
    {
      "parameters": {
        "height": 320,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -260
      ],
      "id": "59abed57-ee1d-489b-88c5-a806f1629a4a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "formTitle": "预算",
        "formDescription": "预算统计",
        "formFields": {
          "values": [
            {
              "fieldLabel": "姓名",
              "requiredField": true
            },
            {
              "fieldLabel": "年龄",
              "fieldType": "number",
              "placeholder": "1",
              "requiredField": true
            },
            {
              "fieldLabel": "预算",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "0-200"
                  },
                  {
                    "option": "200-500"
                  },
                  {
                    "option": "1000～"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -340,
        200
      ],
      "id": "60d37417-26af-47d8-a28d-a342dd86f19f",
      "name": "On form submission",
      "webhookId": "c5ecc21e-25db-4935-8b45-91a06fe68746"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        200,
        280
      ],
      "id": "c74bc51d-3a19-410c-8e3d-bb12c4d4d2f3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        460
      ],
      "id": "4ed77a9b-5493-444d-9cc2-e13baff1ecb3",
      "name": "When chat message received",
      "webhookId": "deb53e20-7be3-4137-89f3-3bd9bc6ab332"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        140,
        500
      ],
      "id": "ad02f215-127c-4b25-ac75-3560dd0f1eab",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "bP71hOKIcoU0mQnL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_service",
        "toolDescription": "用来回答公司的问题",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        480,
        500
      ],
      "id": "2f9a301e-2eca-4bee-8adb-83c438ac62ab",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        700
      ],
      "id": "7444b34d-5a58-4d4b-a4b2-84dbc1c9df16",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "VuZfWJTX7GcOP0MB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -120,
        960
      ],
      "id": "a86c8276-9d1a-4c2f-87be-49e4687e107f",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        80,
        1220
      ],
      "id": "76d8c8ec-b365-426b-b1fa-f64ba0883eaa",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        180,
        1440
      ],
      "id": "d153435f-ce27-4c0d-b51a-5e97921d8841",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        1200
      ],
      "id": "634de105-2bf3-4770-bc43-f750c56e786e",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "VuZfWJTX7GcOP0MB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        380,
        380
      ],
      "id": "0314dfc2-6223-4d5b-b6f0-bb3939012ad8",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "姓名": "韩杰",
          "年龄": 11,
          "预算": "200-500",
          "submittedAt": "2025-06-17T04:19:55.623-04:00",
          "formMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-17T10:07:52.000Z",
  "versionId": "d8aa2c3f-1b23-4285-b39f-24737b178f4e"
}